LaserControl/LaserControl.AerotechHardware/Service References/ServiceReference1/CameraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CameraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/CameraService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/CameraService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/CameraService?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICameraService_SetDisplayingImageType_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDisplayingImageType" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetDisplayingImageType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDisplayingImageTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetOverlay_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOverlay" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetOverlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOverlayResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetProcessing_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProcessing" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetProcessing_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProcessingResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThreshold" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetInvertThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInvertThreshold" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetInvertThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInvertThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetXPercent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXPercent" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetXPercent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXPercentResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetYPercent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYPercent" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetYPercent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYPercentResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_TestIsConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:TestIsConnected" />
  </wsdl:message>
  <wsdl:message name="ICameraService_TestIsConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestIsConnectedResponse" />
  </wsdl:message>
  <wsdl:portType name="ICameraService">
    <wsdl:operation name="SetDisplayingImageType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/SetDisplayingImageType" message="tns:ICameraService_SetDisplayingImageType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/SetDisplayingImageTypeResponse" message="tns:ICameraService_SetDisplayingImageType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOverlay">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/SetOverlay" message="tns:ICameraService_SetOverlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/SetOverlayResponse" message="tns:ICameraService_SetOverlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProcessing">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/SetProcessing" message="tns:ICameraService_SetProcessing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/SetProcessingResponse" message="tns:ICameraService_SetProcessing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThreshold">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/SetThreshold" message="tns:ICameraService_SetThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/SetThresholdResponse" message="tns:ICameraService_SetThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInvertThreshold">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/SetInvertThreshold" message="tns:ICameraService_SetInvertThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/SetInvertThresholdResponse" message="tns:ICameraService_SetInvertThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/GetImage" message="tns:ICameraService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/GetImageResponse" message="tns:ICameraService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXPercent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/GetXPercent" message="tns:ICameraService_GetXPercent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/GetXPercentResponse" message="tns:ICameraService_GetXPercent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYPercent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/GetYPercent" message="tns:ICameraService_GetYPercent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/GetYPercentResponse" message="tns:ICameraService_GetYPercent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestIsConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/TestIsConnected" message="tns:ICameraService_TestIsConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/TestIsConnectedResponse" message="tns:ICameraService_TestIsConnected_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICameraService" type="tns:ICameraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetDisplayingImageType">
      <soap:operation soapAction="http://tempuri.org/ICameraService/SetDisplayingImageType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOverlay">
      <soap:operation soapAction="http://tempuri.org/ICameraService/SetOverlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProcessing">
      <soap:operation soapAction="http://tempuri.org/ICameraService/SetProcessing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThreshold">
      <soap:operation soapAction="http://tempuri.org/ICameraService/SetThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInvertThreshold">
      <soap:operation soapAction="http://tempuri.org/ICameraService/SetInvertThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/ICameraService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXPercent">
      <soap:operation soapAction="http://tempuri.org/ICameraService/GetXPercent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYPercent">
      <soap:operation soapAction="http://tempuri.org/ICameraService/GetYPercent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestIsConnected">
      <soap:operation soapAction="http://tempuri.org/ICameraService/TestIsConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CameraService">
    <wsdl:port name="BasicHttpBinding_ICameraService" binding="tns:BasicHttpBinding_ICameraService">
      <soap:address location="http://localhost:8080/CameraService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>